
.rojo {
    background-color: #ff0000;
}

.amarillo {
    background-color: #fecb65;
}

.verde {
    background-color: #32cb65;
}

.azul {
    background-color: #3298cb;
}

.gris {
    background-color: #7c7878;
}

.blanco {
    background-color: #ffffff;
}

#Botón{
    background-color: #ffcc01;
    color: #3362ae;
    font-family: 'Press Start 2P', cursive;
    border-radius: 5px;
    border: solid black 2px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 20.5px;
    overflow-wrap: break-word;

}

#Pokedex {
    background-color: #fe0065;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 23% 50% 27%;
    border: solid black 3px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 7px;
    width: 350px;
    height: 400px;
}

.Círculos_Minis {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    border: solid black 2px;
}

.Círculos_Menos_Minis {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    border: solid black 2px;
}

.Círculos_Pequeños {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    border: solid black 2px;
}

.Círculos_Grandes {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
    border: solid black 2px;
}

.Rec_Pantalla {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.Pantalla {
    width: 150px;
    height: 150px;
    border: solid black;
    border-radius: 0 0 0 17%;
    display: grid;
    grid-template-rows: 10% 72% 18%;
    background-color: white;
}

#Pantalla_Imagen {
    height: 100%;
    width: 80%;
    justify-self: center;
    border: solid black 2px;
    border-radius: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.Línea {
    width: 18px;
    height: 2px;
    background-color: black;
    margin-top: 2px;
}

#Pantalla_Nombre {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: solid black 2px;
    background-color: #3ab47d;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 18.5px;
    overflow-wrap: break-word;
}

#Pantalla_Número{
    width: 50px;
    height: 35px;
    border-radius: 5px;
    border: solid black 2px;
    background-color: #3ab47d;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 14px;
    overflow-wrap: break-word;
}

#Pantalla_Stats{
    font-family: 'Press Start 2P', cursive;
    width: 150px;
    height: 95px;
    background-color: #3ab47d;
    border: solid black 2px;
    border-radius: 4px;
    font-size: 16px;
    padding-left: 2px;
    padding-right: 2px;
    justify-content: center;
    text-align: left;
    padding-left: 8px;
    line-height: 2;
}

.Pantalla_Info {
    font-family: 'Press Start 2P', cursive;
    width: 150px;
    height: 95px;
    background-color: #7c7878;
    border: solid black 2px;
    border-radius: 4px;
    font-size: 16px;
    padding-left: 2px;
    padding-right: 2px;
    justify-content: center;
    text-align: left;
    padding-left: 8px;
    line-height: 2;
}

.Pantalla_Tipo {
    font-family: 'Press Start 2P', cursive;
    width: 146px;
    height: 64px;
    background-color: #7c7878;
    border: solid black 2px;
    border-radius: 4px;
    font-size: 16px;
    padding-left: 2px;
    padding-right: 2px;
    justify-content: center;
    text-align: left;
    padding-left: 8px;
    line-height: 2;
}

.Cuadrado{
    width: 20px; 
    height: 20px;
}

.Rectángulo {
    width: 60px; 
    height: 20px;
}

.Cuadrado_Con_Borde{
    width: 35px; 
    height: 35px;
    border: solid black 2px;
}
